.page-header h1 {
    color: #00003D;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
}

.back-link{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.title{
    font-family: 'SimplyRounded' !important;
    color: #00003D;
    font-size: 30px;
}


.logo p{
    font-family: 'Arista' !important;
    color: #00003D;
    margin: 0;
    font-size: 30px;
    cursor: pointer;
}
.logo img {
    width: 30px;
    height: 30px;
}
.logo .img{
    width: 55px;
    border-radius: 40px;
    background-color: white;
}

bi{
    height: 1.8rem;
    width: 1.8rem;
    color: #00003D;
    cursor: pointer;
}

.qntd-consultas{
    position: relative;
    bottom: .8rem;
    left: .3rem;
    // height: 25px;
    width: 25px;
    font-family: Arista;
    font-size: 1.2rem;
    background-color: rgba(255, 24, 24, 0.671);
    text-align: center;
    border-radius: 50px;
    vertical-align: middle;
}

.notif{
    display: flex;
}