<div class="container w-70">
  <app-mensagem [isErro]="isErro" [mensagem]="mensagem"></app-mensagem>

  <form>
    <div class="row g-2 d-flex justify-content-center text-align-center">
      <div class="col-md-6 text-right dados-pet text-align-center align-self-center text-align-center">
        <h3 class="heading text-align-center">DADOS DO PET</h3>
      </div>
    </div>
    <div class="row ">
      <div class="col-6">
        <label for="inputNome" class="form-label"> Nome<span style="color:red">*</span></label>
        <input *ngIf="!disabled" type="email" class="form-control" id="inputNome" [(ngModel)]="animal.nome" name="nome">
        <h2 *ngIf="disabled" type="email" class="form-select" id="inputNome" name="nome">{{animal.nome}} </h2>

      </div>

      <div class="col-6">
        <label for="inputEmail4" class="form-label">Idade<span style="color:red">*</span></label>
        <input *ngIf="!disabled" type="number" class="form-control" id="inputEmail4" [(ngModel)]="animal.idade"
          name="idade">
        <h2 *ngIf="disabled" type="email" class="form-select" id="inputEmail4" name="idade">{{animal.idade}} </h2>
      </div>

    </div>
    <div class="row">
      <div class="col-6">
        <label for="inputEmail4" class="form-label">Espécie<span style="color:red">*</span></label>
        <input *ngIf="!disabled" type="email" class="form-control" id="inputEmail4" [(ngModel)]="animal.especie"
          name="especie">
        <h2 *ngIf="disabled" type="email" class="form-select" id="inputEmail4" name="especie">{{animal.especie}} </h2>

      </div>
      <div class="col-6">
        <label for="inputEmail4" class="form-label">Raça<span style="color:red">*</span></label>
        <input *ngIf="!disabled" type="email" class="form-control" id="inputEmail4" [(ngModel)]="animal.raca"
          name="raca">
        <h2 *ngIf="disabled" type="email" class="form-select" id="inputEmail4" name="raca">{{animal.raca}} </h2>
      </div>

    </div>
    <div class="row">
      <div class="col-6">
        <label for="inputEmail4" class="form-label">Pelagem<span style="color:red">*</span></label>
        <input *ngIf="!disabled" type="email" class="form-control" id="inputEmail4" [(ngModel)]="animal.pelagem"
          name="pelagem">
        <h2 *ngIf="disabled" type="email" class="form-select" id="inputEmail4" name="pelagem">{{animal.pelagem}} </h2>

      </div>

      <div class="col-6">
        <label for="animal-sexo" class="form-label">Sexo<span style="color:red">*</span></label>
        <select [disabled]="disabled" class="form-select" ngClass="['disabled': disabled]" required
          [(ngModel)]="animal.sexo" name="animal-sexo" class="form-select" aria-label="Sexo">
          <option *ngFor="let sexo of keys(sexos)" [value]="sexo" value="1">{{sexo}}
          </option>
        </select>
      </div>
    </div>

    <div class="col-md-20">

      <div class="col-md-20">

        <h6 class="mb-0 form-label">Tutor<span style="color:red">*</span>:</h6>
      </div>


      <div class="col-md-8 pe-5 justify-content-between d-flex flex-row" *ngIf="!disabled">
        <input type="text" [(ngModel)]="animal.tutorId" name="tutor"
          class="text-center form-control form-control-md input-hidden" required disabled />
        <p *ngIf="animal.tutorId" class="m-0 fw-bold pt-2">{{animal.tutorId.nome}}</p>
      </div>
      <input *ngIf="!disabled" type="email" class="form-control" id="inputEmail4" (click)="open(content)">
      <h1 *ngIf="disabled" class="form-select">{{animal.tutorId.nome}}</h1>
    </div>
    <div class="container w-100 row" *ngIf="disabled">
      <div class="col-md-6 text-left">
        <p class="title text-left m-0">Vacinas</p>
        <app-register-btn [text]="'Adicionar vacina'" (click)="open(vacina)" ></app-register-btn>
      </div>
      <table class="w-100">
        <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center mt-5">
          <div class="w-75 h-100">
      
        <app-table [title]="'Vacinas'" [headers]="callHeadersVacina()" [apiUrl]="apiUrlPath()"
       [detailsPath]="'/web/vacina/'" [entidade]="'Vacina'"
         [showEdit]="false" [showToggle]="false" [isModal]="true" [showAtivoFilter]="false"></app-table>

         <!-- <app-table [title]="'Vacinas'" [headers]="callHeadersVacina()" [apiUrl]="apiUrlPath()"
       [detailsPath]="'/web/vacina/'" [entidade]="'Vacina'"
         [showEdit]="false" [showToggle]="false" [isModal]="true" (detailsClick)="openEditar($event, vacina)"></app-table> -->
          </div>
          </div>
      </table>
    </div>
  </form>

  <div class="col-12 d-flex justify-content-center py-5 ">
    <button *ngIf="!disabled" type="submit" class="btn btn-primary btn-end" (click)="salvar()">Finalizar</button>
    <button *ngIf="disabled" type="submit" class="btn btn-primary btn-end" (click)="sair()">Sair</button>
  </div>

</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <app-table [title]="'Tutores'" [headers]="callHeadersTutor()" [urlEspecifica]="getUrlEspecifica()"
      [entidade]="'Tutor'" [showToggle]="false" [showEdit]="false" [isModal]="true" [showAtivoFilter]="false"
      (detailsClick)="selecionarTutor($event)"></app-table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary font-outfit" (click)="c('Close click')">Fechar</button>
  </div>
</ng-template>

<ng-template #vacina let-c="close" let-d="dismiss">
  <div class="modal-body">
    <app-vacina-details [chamandoAnimal]="animal" [chamandoVacina]="vacinaSelecionada" (vacina) = "confirmaVacina()"></app-vacina-details>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary font-outfit" (click)="c('Close click')">Fechar</button>
  </div>
</ng-template>