<div class="usuarios d-flex flex-column justify-content-start w-80">
    <div class="info-usuario-form container">
        <div class="registerForm">
            <form action="" #usuarioForm="ngForm" novalidate>
                <app-mensagem [isErro]="isErro" [mensagem]="mensagem"></app-mensagem>
                <div class="row mb-3">
                    <!-- Nome -->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="nome" class="mb-1">Nome<span style="color:red">*</span></label>
                            <input type="text" id="nome" class="form-control" name="nome" [(ngModel)]="usuario.nome"
                                [disabled]="!editMode" />
                        </div>
                    </div>
                    <!-- CPF -->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="cpf" class="mb-1">CPF<span style="color:red">*</span></label>
                            <input type="text" id="cpf" class="form-control" name="cpf" [(ngModel)]="usuario.cpf"
                                placeholder="000.000.000-00" maxlength="14" mask="000.000.000-00"
                                [disabled]="!editMode" />
                        </div>
                    </div>
                    <!-- Tipo do Usuário -->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="role" class="mb-1">Tipo do Usuário<span style="color:red">*</span></label>
                            <select id="role" class="form-select" name="role" [(ngModel)]="usuario.role"
                                [disabled]="!editMode">
                                <option [ngValue]="null" disabled selected>
                                    Selecione um tipo
                                </option>
                                <option *ngFor="let tipo of roleEnum | keyvalue" [ngValue]="tipo.key">
                                    {{ tipo.value }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <!-- Username -->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="username" class="mb-1">Username<span style="color:red">*</span></label>
                            <input type="text" id="username" class="form-control" name="username"
                                [(ngModel)]="usuario.username" [disabled]="!editMode" />
                        </div>
                    </div>
                    <!-- Senha -->
                    <div class="col-md-4 d-flex align-items-center justify-content-between">
                        <div class="form-group pass">
                            <label for="senha" class="mb-1">Senha<span style="color:red">*</span></label>
                            <input [type]="hide ? 'password' : 'text'" id="senha" class="form-control" name="senha"
                                [(ngModel)]="usuario.senha" [disabled]="!editMode" />
                        </div>
                        <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
                            class="eye align-self-end">
                            <i [class]="hide ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'"></i>
                        </button>
                    </div>
                </div>
                <div class="actions row  d-flex align-items-center gap-2 align-self-start">
                    <button type="button" class="btn btn-primary col-md-2 " (click)="editarUsuario()">Editar</button>
                    <button type="button" class="btn btn-primary col-md-2" (click)="cancelarEdit()">Cancelar</button>
                    <button type="button" class="btn btn-primary col-md-2" (click)="saveEdits()">Salvar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="w-75 h-100 p-5 pb-0" *ngIf="usuario.role === 'MEDICO'">
        <app-table [title]="'Historico de Consultas'" [headers]="callHeaders()" [apiUrl]="apiUrlPath()" [editPath]="'/'"
            [detailsPath]="'/'" [entidade]="'Consulta'" [showToggle]="true"></app-table>
    </div>
</div>