<div class="root w-100 d-flex justify-content-center align-items-center">
    <div class="w-50 d-flex justify-content-center">
        <div class="w-100 menu">
            <h3 class="heading">DASHBOARD</h3>
            <div class="mt-4 d-flex gap-4">
                <div class="coluna d-flex flex-column gap-3">
                    <div class="caixa superior" [routerLink]="['/web/animais']">
                        <h3>Animais</h3>
                        <img src="../../../assets/img/ursinho-animal-box-menu.png" id="animais" alt="ursinho">
                    </div>
                    <div class="caixa inferior" [routerLink]="['/web/consultas']">
                        <h3>Consultas</h3>
                        <img src="../../../assets/img/doctors-folder.png" alt="pasta de documentos médicos" id="consultas">
                    </div>
                </div>
                <div class="coluna d-flex flex-column gap-3">
                    <div class="caixa superior" [routerLink]="['/web/tutores']">
                        <h3>Tutores</h3>
                        <img src="../../../assets/img/tutor-box-menu.png" id="tutores" alt="prancheta">
                    </div>
                    <div class="caixa inferior" [routerLink]="['/web/usuarios']">
                        <h3>Usuários</h3>
                        <img src="../../../assets/img/person-icon.png" id="usuarios" alt="icone de pessoa">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>