<div class="w-100 h-100 d-flex flex-column justify-content-start align-items-center mt-5">
    <div class="w-75 d-flex flex-column justify-content-start ">
        <app-register-btn [text]="'Marcar nova Consulta'" (clickEvent)=modal(consulta) [isBlocked]="!hasPermission"></app-register-btn>
        <app-mensagem class="mt-3" [isErro]="isErro" [mensagem]="mensagem"></app-mensagem>
        <div class="d-flex justify-content-between mb-3">
        </div>
        <app-table [isModal]="true" [title]="'Consultas'" [headers]="callHeaders()" [apiUrl]="apiUrlPath()"
[editPath]="'consulta/update'" [entidade]="'Consulta'" [showToggle]="showToggle" [showEdit]="false" (detailsClick)="modal(consulta, $event)"></app-table>         <button type="button" class="color-white btn font-outfit btn-primary align-self-end"
            (click)="abrirModal(relatorios)">Imprimir Relatorio</button>  
    </div>
</div>

<ng-template #consulta let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-primary fw-bold font-outfit">Agendar Consulta</h4>
        <div class="botao shadow"><button type="button" class="btn-close" aria-label="Close"
                (click)="modal.dismiss('Cross click')"></button></div>
    </div>
    <div class="modal-body">
        <app-consulta-details [consultaSelecionada]="consultaSelecionada" (confirmarEvent)="confirmar($event)"></app-consulta-details>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary font-outfit" (click)="modal.close('Close click')">Fechar</button>
    </div>
</ng-template>

<ng-template #relatorios let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-primary fw-bold font-outfit">Filtros do Relatorio</h4>
        <div class="botao shadow"><button type="button" class="btn-close" aria-label="Close"
                (click)="modal.dismiss('Cross click')"></button></div>
    </div>
    <div class="modal-body">
        <app-relatorio></app-relatorio>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary font-outfit" (click)="modal.close('Close click')">Fechar</button>
    </div>
</ng-template>